<!-- Why Eco-Guard Page -->
<nav class="navbar">
    <div class="logo-container">
        <span>LOGO</span>
    </div>
    <div class="nav-title">
        <span class="title">Header Banner</span>
        <span class="description">Description</span>
    </div>
    <div class="nav-links">
            <a routerLink="/home" routerLinkActive="active">HOME</a>
            <a routerLink="/about" routerLinkActive="active">ABOUT</a>
            <a routerLink="/why-ecoguard" routerLinkActive="active">WHY EG?</a>
            <a routerLink="/contact" routerLinkActive="active">CONTACT US</a>
          </div>
          <div class="menu-icon" (click)="toggleMenu()">☰</div>
    <div class="hamburger-menu" (click)="toggleMenu()">
        <span>☰</span>
    </div>
</nav>

<section class="content-section">
    <h2>Beginnings</h2>
    <ul>
        <li>Content</li>
        <li>Content</li>
        <li>Content</li>
    </ul>

    <h2>Engagement</h2>
    <ul>
        <li>Content</li>
        <li>Content</li>
        <li>Content</li>
    </ul>

    <h2>Purpose</h2>
    <ul>
        <li>Content</li>
        <li>Content</li>
        <li>Content</li>
    </ul>

    <h2>Our Belief</h2>
    <ul>
        <li>Content</li>
        <li>Content</li>
        <li>Content</li>
    </ul>
</section>

<footer class="footer">
    <p>©2025 WD-302 All rights reserved.</p>
</footer>
